body {  
    background-color: rgb(11, 17, 18);  
  }  
  h1 {  
    color: rgb(0, 255, 119);  
  }  
  .form-group{
    text-align: center;
    align-items: center;
    align-content: center;
    color: rgb(0, 255, 119); 
    font-size:larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .submit{
    text-align: center;
}
.dbtable{
  text-align: center;
  color: aquamarine;
}
button {
    margin:auto;
    display:block;
    border-bottom: white;
}
p {  
    color: red;  
}  
td {
    width: 150px;
    text-align: center;
    border: 1px solid rgb(49, 183, 31);
    padding: 5px;
}